book {
  .book {
    margin-top: 150px;
    .books_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 45px;
        color: black;
      }
      a {
        font-size: 24px;
        color: dodgerblue;
      }
    }
    .book_div {
      width: 300px;
      height: 700px;
      background-color: white;
      img {
        width: 350px;
        height: 450px;
        object-fit: cover;
      }
      h1 {
        font-size: 45px;
        font-weight: 600;
      }
      p {
        font-size: 25px;
      }
    }
  }
}

.book_display {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow-x: scroll;
  gap: 100px;
}
.book_display::-webkit-scrollbar {
  display: none;
}
