.bookShow {
  padding: 100px;
  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
}
