@import "./components/header/header.scss";
@import "./pages/Home/home.scss";
@import "./pages/Home/HomeGenres/homeGenres.scss";
@import "./pages/Home/NewBook/newBook.scss";
@import "./pages/Home/books-home/book.scss";
@import "./pages/Home/about/about.scss";
@import "./components/footer/footer.scss";
@import "./pages/Home/book-all/read.scss";
@import "./pages/Home/seacrh/search.scss";
@import "./pages/Home/detailBook/detail.scss";
